<p-toast position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-loading [loading]="carregandoVagas()">
  <p-card>
    <ng-template pTemplate="title">
      <h2>Vagas por Estacionamento</h2>
    </ng-template>
    <ng-template pTemplate="content">
      <p-toolbar>
        <ng-template pTemplate="start">
          <p-iconField iconPosition="right">
            <p-autoComplete
              [(ngModel)]="estacionamentoBusca"
              (ngModelChange)="onEstacionamentoChange($event)"
              [suggestions]="estacionamentosFiltrados"
              (completeMethod)="filtrarEstacionamentos($event)"
              (onSelect)="onEstacionamentoSelect($event.value)"
              (onClear)="limparFiltro()"
              [dropdown]="true"
              [forceSelection]="true"
              [showEmptyMessage]="true"
              emptyMessage="Nenhum estacionamento encontrado"
              placeholder="Estacionamento"
              field="desEst"
              inputStyleClass="p-inputtext"
              styleClass="w-full"
            >
              <ng-template let-estacionamento pTemplate="item">
                <div>
                  {{ estacionamento.codEst }} - {{ estacionamento.desEst }}
                </div>
              </ng-template>
            </p-autoComplete>
          </p-iconField>
        </ng-template>
        <ng-template pTemplate="center"> </ng-template>
        <ng-template pTemplate="end">
          <div
            class="vagas-resumo"
            [ngClass]="{ 'vagas-resumo--sem-acao': estacionamentoSelecionado?.vagDis === '0' }"
            *ngIf="possuiEstacionamentoSelecionadoValido() && !carregandoVagas()"
          >
            <div class="vagas-resumo__box vagas-resumo__box--total">
              <span class="vagas-resumo__valor">{{
                estacionamentoSelecionado?.qtdVag
              }}</span>
              <span class="vagas-resumo__label">Total</span>
            </div>
            <div class="vagas-resumo__box vagas-resumo__box--ocupadas">
              <span class="vagas-resumo__valor">{{
                estacionamentoSelecionado?.vagOcu
              }}</span>
              <span class="vagas-resumo__label">Ocupadas</span>
            </div>
            <div class="vagas-resumo__box vagas-resumo__box--disponiveis">
              <span class="vagas-resumo__valor">{{
                estacionamentoSelecionado?.vagDis
              }}</span>
              <span class="vagas-resumo__label">Disponíveis</span>
            </div>
            <div
              class="vagas-resumo__action"
              *ngIf="
                estacionamentoSelecionado &&
                !carregandoVagas() &&
                estacionamentoSelecionado.vagDis !== '0'
              ">
              <a
                pButton
                type="button"
                label="Solicitar Vaga"
                icon="pi pi-car"
                class="p-button-sm btn-solicitar-vaga"
                href="https://platform-homologx.senior.com.br/tecnologia/platform/cockpit-frontend/#/app/newrequest/new-process/3/37"
                target="_blank"
                rel="noopener noreferrer"
              ></a>
            </div>
          </div>
        </ng-template>
      </p-toolbar>
    </ng-template>
  </p-card>
  <div class="grid mt-1">
    <div class="col-3" *ngFor="let vehicle of vehicles">
      <p-card
        [ngClass]="{ 'vaga-livre-card': vehicle.owner === 'Livre' }"
        class="card-moderno"
      >
        <ng-template pTemplate="header"></ng-template>
        <ng-template pTemplate="title">
          <div
            class="vehicle-title-row"
            [ngClass]="{ 'vehicle-title-row--free': vehicle.owner === 'Livre' }"
          >
            <div
              class="vehicle-title"
              [ngClass]="{ 'vaga-livre': vehicle.owner === 'Livre' }"
            >
              {{
                vehicle.owner === "Livre"
                  ? "VAGA DISPONÍVEL"
                  : vehicle.id + " - " + vehicle.owner
              }}
            </div>
            <button
              *ngIf="vehicle.owner !== 'Livre'"
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-sm p-button-danger p-button-text card-moderno__btn-excluir-icon"
              (click)="confirmarExclusao(vehicle)"
              aria-label="Excluir veículo"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="subtitle">
          {{ vehicle.owner === "Livre" ? "-" : vehicle.model }}
        </ng-template>
        <ng-template pTemplate="footer">
          <ul class="card-moderno__lista">
            <li>
              <i class="pi pi-id-card"></i> Placa:
              {{ vehicle.owner === "Livre" ? "-" : vehicle.plate }}
            </li>
            <li>
              <i class="pi pi-calendar"></i> Ano:
              {{ vehicle.owner === "Livre" ? "-" : vehicle.year }}
            </li>
            <li>
              <span
                class="color-swatch"
                [style.backgroundColor]="getVehicleBackgroundColor(vehicle)"
                [style.borderColor]="getVehicleBorderColor(vehicle)"
              ></span>
              Cor:
              {{ vehicle.owner === "Livre" ? "-" : vehicle.color }}
            </li>
          </ul>
        </ng-template>
      </p-card>
    </div>
  </div>
</app-loading>